<% id=(includeTitle) ? "animation" : "animation-start" %>
<div class="accordion mb-3" id="<%= id %>-accordion">
	<%if (includeTitle) {%>
		<div class="card text-white bg-secondary border-light">
		  <div class="card-header border-light"><h4 class="mb-0">Animation</h4></div>
		</div>
	<%}%>
	<%- include('partials/position', {id: id}); %>
	<%if (includeTitle) {%>
		<%- include('partials/remove-button', {type:'list'}); %>
	<%}%>
</div>
  