<% id=(includeTitle) ? "animation" : "animation-start" %>
<div class="accordion mb-3" id="<%= id %>-accordion">
	<%if (includeTitle) {%>
		<div class="card text-white bg-secondary border-light">
		  <div class="card-header border-light"><h3 class="mb-0">Animation</h3></div>
		</div>
	<%}%>
	<%- include('partials/position', {id: id}); %>
</div>
  