<li class="nav-item collapse choice-tools tools">
  <div class="accordion mb-3" id="choice-accordion">
    <div class="card text-white bg-secondary border-light">
      <div class="card-header border-light"><h3 class="mb-0">Choices</h3></div>
    </div>
    <div class="card text-white bg-secondary border-light">
      <div class="card-header" id="messageBoxHeader4">
        <a class="collapsed" type="button" data-toggle="collapse" data-target="#choice-sample-tool" aria-expanded="false" aria-controls="choice-sample-tool">
          Display #
        </a>
      </div>
      <div id="choice-sample-tool" class="collapse" aria-labelledby="messageBoxHeader4" data-parent="#choice-accordion">
        <div class="card-body">
          <div class="form-group">
            <label for="choice-sample">Sample Choices</label>
            <input type="number" class="form-control" id="choice-sample"/>
          </div>
        </div>
      </div>
    </div>
    <div class="card text-white bg-secondary border-light">
      <div class="card-header" id="choiceLayoutHeader">
        <a class="collapsed" type="button" data-toggle="collapse" data-target="#choice-layout-tool" aria-expanded="false" aria-controls="choice-layout-tool">
          Layout
        </a>
      </div>
      <div id="choice-layout-tool" class="collapse" aria-labelledby="choiceLayoutHeader" data-parent="#choice-accordion">
        <div class="card-body">
          <div class="form-group">
            <label for="label-color">Box Position</label>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input show-more-when-off" target='choice-box-not-centered-options' id="choice-box-centered" checked="">
              <label class="custom-control-label" for="choice-box-centered">Centered</label>
            </div>
          </div>
          <div id='choice-box-not-centered-options'>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">X</span>
                </div>
                <input type="number" class="form-control asset-x" id="choice-box-x" value="0">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Y</span>
                </div>
                <input type="number" class="form-control asset-y" id="choice-box-y" value="0">
              </div>
            </div>  
          </div>
          <div class="form-group">
            <label for="choice-separation">Separation</label>
            <input type="number" class="form-control" id="choice-separation"/>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/text-style', {id:"choice"}); %>
    <div class="card text-white bg-secondary border-light">
      <div class="card-header" id="messageBoxHeader5">
        <a class="collapsed" type="button" data-toggle="collapse" data-target="#choice-chosen-tool" aria-expanded="false" aria-controls="choice-chosen-tool">
          Previously chosen options
        </a>
      </div>
      <div id="choice-chosen-tool" class="collapse" aria-labelledby="messageBoxHeader5" data-parent="#choice-accordion">
        <div class="card-body">
          <div class="form-group">
            <label for="choice-chosen-color">Text Color</label>
            <div class="input-group colorpicker-component">
              <input type="text" class="form-control" id="choice-chosen-color" />
              <span class="input-group-append">
                <span class="input-group-text colorpicker-input-addon"><i></i></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/text-position', {id:"choice"}); %>
  </div>
  <div class="btn-group btn-block" role="group">
    <button type="button" class="btn btn-outline-light remove-single-selected"><i class="fas fa-trash-alt" ></i></button>
  </div>
</li>