<% id=(includeTitle) ? "message-box" : "message-box-start" %>
<div class="accordion mb-3" id="<%= id %>-accordion">
  <%if (includeTitle) {%>
  <div class="card text-white bg-secondary border-light">
    <div class="card-header border-light"><h3 class="mb-0">Message Box</h3></div>
  </div>
  <div class="card text-white bg-secondary border-light">
    <div class="card-header" id="messageBoxHeader4">
      <a class="collapsed" type="button" data-toggle="collapse" data-target="#message-box-sample-tool" aria-expanded="false" aria-controls="message-box-sample-tool">
        Sample Text
      </a>
    </div>
    <div id="message-box-sample-tool" class="collapse" aria-labelledby="messageBoxHeader4" data-parent="#message-box-accordion">
      <div class="card-body">
        <div class="form-group">
          <textarea class="form-control" id="message-box-sample" rows="3"></textarea>
        </div>
      </div>
    </div>
  </div>
  <%}%>
  <%- include('partials/position', {id:id}); %>
  <%- include('partials/text-style', {id:id}); %>
  
  <%- include('partials/text-position', {id:id}); %>
</div>

