<!DOCTYPE html>
<%- include('include/head'); %>
<head>
    <link rel="stylesheet" href="stylesheets/navbar-fixed-left.min.css">
</head>
<html lang="en">
    <body>
        <%- include('include/navbar'); %>
        <%- include('include/toolbox'); %>
        <%- include('include/modals'); %>
        

        <div class="canvas-container">
          <div id='preload-canvas'></div>
        </div>


        <script src="jquery/jquery.min.js"></script>
        <script src="popper/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/phaser.min.js"></script>
        <script src="js/edit-gui.js"></script>
    </body>
</html>


