<!DOCTYPE html>
<%- include('include/head'); %>
<html lang="en">
    <body class="">
        <div class="container">
          <div class="jumbotron mt-3">
            <h1 class="display-3 text-secondary">RenJS GUI Builder</h1>
            <p class="lead">With the RenJS GUI Builder you can build awesome GUI's for your visual novel in a visual and easy way!</p>
            <hr class="my-4">
            <p>You can create a new GUI from scratch or clone a previous one and modify it. When your GUI is ready, simply press the Build button and the configuration file will be compiled, along with the configuration file for RenJS, the assets directory and a barebones game structure.</p>
            <a type="button" class="btn btn-secondary btn-block" href="#" data-toggle="modal" data-target="#new-gui-modal">Create New GUI!</a>
          </div>
          <div class="bs-docs-section">
            <div class="row">
              <div class="card-columns">
                <!-- <div class="card">
                  <img class="card-img-top" src="img/index.svg" alt="Card image">
                  <div class="card-body">
                    <h5 class="card-title">New GUI</h5>
                    <p class="card-text">Create a new GUI from scratch!</p>
                    <a type="button" class="btn btn-outline-secondary btn-block" href="#" data-toggle="modal" data-target="#new-gui-modal">New</a>
                  </div>
                </div> -->
                <div class="card d-none gui-template">
                  <img class="card-img-top" src="img/index.svg" alt="Card image">
                  <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text resolution"></p>
                    <button type="button" class="btn btn-outline-primary btn-generate">Build</button>
                    <a type="button" href="" class="btn btn-outline-secondary btn-edit">Edit</a>
                    <button type="button" class="btn btn-outline-info btn-clone">Clone</button>
                    <button type="button" class="btn btn-outline-danger btn-remove">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="new-gui-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">New Gui!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="alert alert-dismissible alert-danger collapse" id="new-gui-error">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p></p>
                </div>
                <p>To create a new gui you need a key name (without spaces or symbols) and the resolution, in width and height pixel values. These parameters can't be change later, so choose carefully!</p>
                <fieldset>
                  <legend>Gui Name:</legend>
                  <div class="form-group">
                    <input class="form-control" id="gui-name">
                  </div>
                  <legend>Resolution:</legend>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">W</span>
                        </div>
                        <input type="number" class="form-control" id="gui-width">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">H</span>
                        </div>
                        <input type="number" class="form-control" id="gui-height">
                      </div>
                    </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-new-gui">Create</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="clone-gui-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Clone Gui!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <div class="alert alert-dismissible alert-danger collapse" id="cloned-gui-error">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <p></p>
                </div>
                <p>The GUI <strong id="gui-name-placeholder"></strong> will be cloned, including configuration and all of its assets. Choose a new name for the cloned GUI.</p>
                <fieldset>
                  <legend>New Name:</legend>
                  <div class="form-group">
                    <input class="form-control" id="gui-cloned-name">
                  </div>
                </fieldset>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-clone-gui">Clone</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="generating-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Generating!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                <p>Your GUI was successfully generated and can be found in the build directory.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id='open-dir'>Open Directory</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript">
            guiList = JSON.parse('<%- guis %>');
        </script>


        <script src="jquery/jquery.min.js"></script>
        <script src="popper/popper.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="js/gui-list.js"></script>
    </body>
</html>


