
.canvas-container {
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-playback {
	color: #f8f9fa;
	border-color: #f8f9fa;
}

.btn-playback.active {
	color: #F3969A;
	background-color: #f8f9fa;
}