<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootswatch/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fontawesome/all.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>