<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootswatch/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    
    <link rel="stylesheet" href="fontawesome/all.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>