<div class="modal" id="bg-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Background Image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>The background should normally be the same size as the game screen. It will be placed at 0,0 position.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="bg-input">
                <label class="custom-file-label" for="bg-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-bg.svg" src="index.svg" alt="Card image">
          </div>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-bg" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="image-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-image.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Position:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="image-start-x" default="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="image-start-y" default="0">
            </div>
          </div>
          <small id="imageHelp" class="form-text text-muted">You can change the position later.</small>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-image" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="loading-bar-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Slider Bar</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>The slider bar is a spritesheet with two frames: First frame is the empty bar, second is the full bar.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-lb.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Frame size:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">W</span>
              </div>
              <input type="number" class="form-control" id="loading-bar-width">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">H</span>
              </div>
              <input type="number" class="form-control" id="loading-bar-height">
            </div>
          </div>
          <legend>Position:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="loading-bar-start-x" value="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="loading-bar-start-y" value="0">
            </div>
          </div>
          <small id="imageHelp" class="form-text text-muted">You can change the position later.</small>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-loading-bar" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="animation-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Animation</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>The animation is a spritesheet that will loop repeteadly.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/index.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Frame size:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">W</span>
              </div>
              <input type="number" class="form-control" id="animation-width">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">H</span>
              </div>
              <input type="number" class="form-control" id="animation-height">
            </div>
          </div>
          <legend>Position:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="animation-start-x" value="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="animation-start-y" value="0">
            </div>
          </div>
          <small id="imageHelp" class="form-text text-muted">You can change the position later.</small>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-animation" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="button-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Button</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>A button is a spritesheet with 3 frames: normal view, hover view and pressed view. The button has a binding to an action, e.g. start the game.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-button.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Frame size:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">W</span>
              </div>
              <input type="number" class="form-control" id="button-width">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">H</span>
              </div>
              <input type="number" class="form-control" id="button-height">
            </div>
          </div>
          <legend>Position:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="button-start-x" value="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="button-start-y" value="0">
            </div>
          </div>
          <small id="imageHelp" class="form-text text-muted">You can change the position later.</small>
          <div class="form-group">
            <label for="button-binding">Button binding</label>
            <select class="form-control" id="button-start-binding">
              <option value='start'>Start Game</option>
              <option value='main'>Open Main Menu</option>
              <option value='settings'>Open Settings Menu</option>
              <option value='saveload'>Open Save/Load Menu</option>
              <option disabled>_________</option>
              <option value='save'>Save in slot</option>
              <option value='load'>Save from slot</option>
              <option disabled>_________</option>
              <option value='auto'>Autoplay</option>
              <option value='skip'>Skip (autoplay really fast)</option>
              <option value='mute'>Mute sound</option>
              <option disabled>_________</option>
              <option value='other'>Other action</option>
            </select>
          </div>
          <small id="imageHelp" class="form-text text-muted">You can change the binding later.</small>
          <div class="form-group collapse slot-start-value">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Slot</span>
              </div>
              <input type="number" class="form-control button-start-slot" value="0">
            </div>
          </div>    
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-button" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<div class="modal" id="slider-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Slider</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>A slider is a handy element to set a numeric option between two (min and max)values. E.g. the music volume or the speed at which the text will appear. The element is composed of an image with two frames, empty and full, and it's assumed the minimum value will be at the left side and the maximum at the right side.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-lb.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Frame size:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">W</span>
              </div>
              <input type="number" class="form-control" id="slider-width">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">H</span>
              </div>
              <input type="number" class="form-control" id="slider-height">
            </div>
          </div>
          <legend>Position:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="slider-start-x" value="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="slider-start-y" value="0">
            </div>
          </div>
          <small id="imageHelp" class="form-text text-muted">You can change the position later.</small>
          <div class="form-group">
            <label for="button-binding">Slider binding</label>
            <select class="form-control" id="slider-start-binding">
              <option value='music-volume'>Music Volume</option>
              <option value='sfx-volume'>SFX Volume</option>
              <option disabled>_________</option>
              <option value='text-speed'>Text Speed</option>
              <option value='auto-speed'>Autoplay Speed</option>
              <option disabled>_________</option>
              <option value='other'>Other property</option>
            </select>
          </div>
          <small class="form-text text-muted">You can change the binding later.</small>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-slider" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>