<nav class="navbar navbar-expand-lg navbar-dark bg-secondary justify-content-between paw">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item menu-section menu-general active">
        <a class="nav-link" href="#" onclick="changeMenu('general');">General Config</a>
      </li>
      <li class="nav-item">
        <div class="dropdown show">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menus
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="menuSelectionList">
            <a class="dropdown-item" href="#" onclick="addMenu();"><i class="fas fa-plus" ></i> Menu</a>
            <a class="dropdown-item" href="#" onclick="changeMenu('hud');">hud</a>
            <!-- <a class="dropdown-item" href="#">Another action</a> -->
          </div>
        </div>
      </li>
    </ul>    
  </div>
  <button type="button" class="btn btn-sm btn-outline-light mr-sm-2" id="btn-save-gui"><i class="fas fa-save"></i> Save</button>
  <button type="button" class="btn btn-sm btn-outline-light mr-sm-2" id="btn-generate-gui"><i class="fas fa-download"></i> Generate</button>
  <a type="button" class="btn btn-sm btn-outline-light" href="/">Return</a>
</nav>