<nav class="navbar navbar-expand-lg navbar-dark bg-secondary justify-content-between">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item menu-section menu-loader active">
        <a class="nav-link" href="#" onclick="changeMenu('loader');">Loading Page</a>
      </li>
      <li class="nav-item menu-section menu-main">
        <a class="nav-link" href="#" onclick="changeMenu('main');">Main Menu</a>
      </li>
      <li class="nav-item menu-section menu-hud">
        <a class="nav-link" href="#" onclick="changeMenu('hud');">HUD</a>
      </li>
      <li class="nav-item menu-section menu-settings">
        <a class="nav-link" href="#" onclick="changeMenu('settings');">Settings Menu</a>
      </li>
      <li class="nav-item menu-section menu-saveload">
        <a class="nav-link" href="#" onclick="changeMenu('saveload');">Save/Load Menu</a>
      </li>
      <li class="nav-item menu-section menu-fonts">
        <a class="nav-link" href="#" onclick="changeMenu('fonts');">Fonts</a>
      </li>
      <li class="nav-item menu-section menu-audio">
        <a class="nav-link" href="#" onclick="changeMenu('audio');">Audio</a>
      </li>
    </ul>    
  </div>
  <button type="button" class="btn btn-sm btn-outline-light mr-sm-2" id="btn-save-gui"><i class="fas fa-save"></i> Save</button>
  <button type="button" class="btn btn-sm btn-outline-light mr-sm-2" id="btn-generate-gui"><i class="fas fa-download"></i> Generate</button>
  <a type="button" class="btn btn-sm btn-outline-light" href="/">Return</a>
</nav>