<div class="modal" id="bg-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Background Image</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>The background should normally be the same size as the game screen. It will be placed at 0,0 position.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="bg-input">
                <label class="custom-file-label" for="bg-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-bg.svg" src="index.svg" alt="Card image">
          </div>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-bg" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="loading-bar-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Slider Bar</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>The slider bar is a spritesheet with two frames: First frame is the empty bar, second is the full bar.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-lb.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Frame size:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">W</span>
              </div>
              <input type="number" class="form-control asset-width" id="loading-bar-start-width">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">H</span>
              </div>
              <input type="number" class="form-control asset-height" id="loading-bar-start-height">
            </div>
          </div>
          <legend>Position:</legend>
          <small id="imageHelp" class="form-text text-muted">You can change the position later.</small>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="loading-bar-start-x" value="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="loading-bar-start-y" value="0">
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-loading-bar" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="name-box-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Name Box</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>The name box is an image over which the name of the characters will appear when they are talking. You can define the style of the text, but the color will be taken from each character setup.</p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-box.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Box Position:</legend>
          <small class="form-text text-muted">You can change the position later.</small>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="name-box-start-x" value=0>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="name-box-start-y" value=0>
            </div>
          </div>
          <legend>Text Size:</legend>
          <small class="form-text text-muted">You can change the size later.</small>
          <div class="form-group">
            <input class="form-control" type="number" id="name-box-start-size">
          </div>
          <legend>Text Font:</legend>
          <small class="form-text text-muted">You can change the font later.</small>
          <div class="form-group">
            <select class="form-control font-select" id="name-box-start-font">
            </select>
          </div>
          <legend>Text Position:</legend>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input show-more-when-off" target='name-box-not-centered-options' id="name-box-start-centered" checked="">
              <label class="custom-control-label" for="name-box-start-centered">Centered</label>
            </div>
          </div>
          <div id="name-box-not-centered-options" class='collapse'>
            <legend>Text Align:</legend>
            <small class="form-text text-muted">You can change the alignment later.</small>
            <div class="form-group">
              <select class="form-control" id="name-box-start-align">
                <option value='left'>Left</option>
                <option value='center'>Center</option>
                <option value='right'>Right</option>
              </select>
            </div>
            <legend>Margin X:</legend>
            <small class="form-text text-muted">The margin will be at both sides of the box. You can change the value later.</small>
            <div class="form-group">
              <input type="number" class="form-control" id="name-box-margin-x" value="0">
            </div>
            <legend>Offset Y:</legend>
            <small class="form-text text-muted">The offset will from the top of the box. You can change the value later.</small>
            <div class="form-group">
              <input type="number" class="form-control" id="name-box-offset-y" value="0">
            </div>
          </div>
          
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-name-box" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="ctc-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add CTC</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>The CTC (click to continue) is a small image that will appear when the game is waiting for the player to click anywhere to continue. Normally, after showing text or dialog. You can place it anywhere in the screen, but it's usually contained within the text box.</p>
        <p></p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/index.svg" src="index.svg" alt="Card image">
          </div>
          
          <legend>Position:</legend>
          <small class="form-text text-muted">You can change the position later.</small>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="ctc-start-x" value="0">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="ctc-start-y" value="0">
            </div>
          </div>
          <legend>Animation Style:</legend>
          <small class="form-text text-muted">The CTC is always animated, since you want to attract the attention of the player. The animation can be traditional, by using a spritesheet; or tweened, in which case you only need a static image, and RenJS will take care of animating the alpha (transparency).</small>
          <div class="form-group">
            <div class="btn-group btn-group-toggle" id='ctc-start-style' data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="options" opt='tween' autocomplete="off" checked=""> Tween
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" opt="spritesheet" autocomplete="off"> Spritesheet
              </label>
            </div>
          </div>
          <div id='ctc-spritesheet-options' class="collapse">
            <legend>Frame size:</legend>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">W</span>
                </div>
                <input type="number" class="form-control asset-width" id="ctc-start-width">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">H</span>
                </div>
                <input type="number" class="form-control asset-height" id="ctc-start-height">
              </div>
            </div>
          </div>
        </fieldset>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-ctc" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="choice-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Choice/Interrupt</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <p>A choice is a box with text representing an option to take inside the game. It's in esence a button, so its graphic has the same format: A spritesheet with two or three frames meaning Normal View, Hover View and Pressed View. If only two frames are present, pressed view will be the same as normal view. </p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-button.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Frame size:</legend>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">W</span>
              </div>
              <input type="number" class="form-control asset-width" id="choice-start-width">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">H</span>
              </div>
              <input type="number" class="form-control asset-height" id="choice-start-height">
            </div>
          </div>
          <legend>Choice type:</legend>
          <small class="form-text text-muted">An interrupt is a choice that will not block the game, and will remain on screen for a few steps. The player has the option to press it or not. More info on interrupts can be found on the <a href="/renjsdocs">RenJS Docs</a>.</small>
          <div class="form-group">
            <div class="btn-group btn-group-toggle" id='choice-start-type' data-toggle="buttons">
              <label class="btn btn-secondary">
                <input type="radio" name="options" value='choice' autocomplete="off" checked=""> Choice
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="options" value='interrupt' autocomplete="off"> Interrupt
              </label>
            </div>
          </div>
          <legend>Position:</legend>
          <small class="form-text text-muted">The choices can be automatically centered in the middle of the screen. If you don't want them to be centered, the position will indicate the position of the uppermost choice box. Further choice boxes will be added under the first one.</small>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input show-more-when-off" target='choice-not-centered-options' id="choice-start-centered" checked="">
              <label class="custom-control-label" for="choice-start-centered">Centered</label>
            </div>
          </div>
          <div id="choice-not-centered-options" class='collapse'>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">X</span>
                </div>
                <input type="number" class="form-control" id="choice-start-x" value="0">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Y</span>
                </div>
                <input type="number" class="form-control" id="choice-start-y" value="0">
              </div>
            </div>
            <small class="form-text text-muted">You can change the position later.</small>
          </div>
          <legend>Box Separation:</legend>
          <small class="form-text text-muted">There will normally be more than one option displayed at the same time. Each option will be on it's own box, one on top of the other. The separation indicates how many pixels the box should be separated from each other. You can change the value later.</small>
          <div class="form-group">
            <input class="form-control" type="number" id="choice-start-separation">
          </div>
          <legend>Text Size:</legend>
          <small class="form-text text-muted">You can change the size later.</small>
          <div class="form-group">
            <input class="form-control" type="number" id="choice-start-size">
          </div>
          <legend>Text Font:</legend>
          <small class="form-text text-muted">You can change the font later.</small>
          <div class="form-group">
            <select class="form-control font-select" id="choice-start-font">
            </select>
          </div>
          <legend>Text Position:</legend>
          <small class="form-text text-muted">Center the text on the box.</small>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input show-more-when-off" target='choice-text-not-centered-options' id="choice-text-start-centered" checked="">
              <label class="custom-control-label" for="choice-text-start-centered">Centered</label>
            </div>
          </div>
          <div id="choice-text-not-centered-options" class='collapse'>
            <legend>Text Align:</legend>
            <small class="form-text text-muted">You can change the alignment later.</small>
            <div class="form-group">
              <select class="form-control" id="choice-start-align">
                <option value='left'>Left</option>
                <option value='center'>Center</option>
                <option value='right'>Right</option>
              </select>
            </div>
            <legend>Margin X:</legend>
            <small class="form-text text-muted">The margin will be at both sides of the box. You can change the value later.</small>
            <div class="form-group">
              <input type="number" class="form-control" id="choice-margin-x" value="0">
            </div>
            <legend>Offset Y:</legend>
            <small class="form-text text-muted">The offset will from the top of the box. You can change the value later.</small>
            <div class="form-group">
              <input type="number" class="form-control" id="choice-offset-y" value="0">
            </div>


        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary upload-choice" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="text-box-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Text Box</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>The text box is the main element for diplaying text during the game. Text and dialog will be displayed over an image, letter by letter. </p>
        <fieldset>
          <legend>Image file:</legend>
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="image-input">
                <label class="custom-file-label" for="image-input">Choose file</label>
              </div>
            </div>
            <img class="card-img-top img-preview" thumbnail="img/thumbnail-box.svg" src="index.svg" alt="Card image">
          </div>
          <legend>Box Position:</legend>
          <small class="form-text text-muted">You can change the position later.</small>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">X</span>
              </div>
              <input type="number" class="form-control" id="text-box-start-x" value=0>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Y</span>
              </div>
              <input type="number" class="form-control" id="text-box-start-y" value=0>
            </div>
          </div>
          <legend>Text Size:</legend>
          <small class="form-text text-muted">You can change the size later.</small>
          <div class="form-group">
            <input class="form-control" type="number" id="text-box-start-size">
          </div>
          <legend>Text Font:</legend>
          <small class="form-text text-muted">You can change the font later.</small>
          <div class="form-group">
            <select class="form-control font-select" id="text-box-start-font">
            </select>
          </div>
          <legend>Color:</legend>
          <small class="form-text text-muted">You can change the color later.</small>
          <div class="form-group">
            <div class="input-group colorpicker-component">
              <input type="text" class="form-control" id="text-box-start-color" value="#FFFFFF"/>
              <span class="input-group-append">
                <span class="input-group-text colorpicker-input-addon"><i></i></span>
              </span>
            </div>
          </div>
          <legend>Text Align:</legend>
          <small class="form-text text-muted">You can change the alignment later.</small>
          <div class="form-group">
            <select class="form-control" id="text-box-start-align">
              <option value='left'>Left</option>
              <option value='center'>Center</option>
              <option value='right'>Right</option>
            </select>
          </div>
          <legend>Margin X:</legend>
          <small class="form-text text-muted">The margin will be at both sides (left and right) of the box. The text will wrap inside the box by this margin. You can change the value later.</small>
          <div class="form-group">
            <input type="number" class="form-control" id="text-box-margin-x" value="0">
          </div>
          <legend>Offset Y:</legend>
          <small class="form-text text-muted">The margin will be from the top of the box. You can change the value later.</small>
          <div class="form-group">
            <input type="number" class="form-control" id="text-box-offset-y" value="0">
          </div>
          
        </fieldset>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary add-name-box" data-dismiss="modal">Add</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>