
<div class="card text-white bg-secondary border-light">
  <div class="card-header">
    <a type="button" class="lock-drag-selected">
      <i class="fas fa-lock-open"></i> Unlocked
    </a>
  </div>
</div>