<!-- <div class="btn-group btn-block mb-3" role="group">
	<button type="button" class="btn btn-outline-light remove-<%= type %>-selected"><i class="fas fa-trash-alt" ></i></button>
</div> -->

<div class="card text-white bg-secondary border-light">
  <div class="card-header">
    <a type="button" class="remove-<%= type %>-selected">
      Remove
    </a>
  </div>
</div>