<legend>Image file:</legend>
<div class="form-group">
	<div class="input-group mb-3">
	  <div class="custom-file">
	    <input type="file" class="custom-file-input" id="image-input">
	    <label class="custom-file-label" for="image-input">Choose file</label>
	  </div>
	</div>
	<img class="card-img-top img-preview" thumbnail="img/thumbnail-<%= id %>.svg" src="index.svg" alt="Card image">
</div>